@font-face {
    font-family: "cursiva";
    src: url("../fonts/Longhaul.woff");
}

h1{
    font-family: "cursiva";
}

.contenedor{
    margin: 3em 1em 1em 1em;
}

.barra{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 50px;
    background: #d1e0ff;
    box-shadow:  5px 5px 10px #b2bed9,
                -5px -5px 10px #f0ffff;
}

h1{
    margin-left: 1.1em;
    color: rgb(32, 32, 32);
    letter-spacing: 2px;

}

.boton-cargar{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
    background: linear-gradient(145deg, #afc3e6, #d0e8ff);
    box-shadow:  13px 13px 25px #9db0cf,
                 -13px -13px 25px #e7ffff;    
}

.boton-cargar a{

display: block;
text-indent: 8000px;

width: 50px;
height: 50px;
    background-image: url("../img/agregar.png");
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;

}
.boton-mostrar{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 50px;
    border-radius: 50%;
    background: linear-gradient(145deg, #afc3e6, #d0e8ff);
    box-shadow:  13px 13px 25px #9db0cf,
                 -13px -13px 25px #e7ffff;
    
    

}
.boton-mostrar a{
    display: block;
    text-indent: 8000px;

    width: 50px;
    height: 50px;
    background-image: url("../img/expandir.png");
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;

}

.discos{
    border: 2px solid black;
    display: flex;
}

.disco{
    background-color: darkcyan;
    color: white;
    width:40%;
}